.App {
  display: flex;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h1{
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-left: 600px;
  margin-right: 100px;
  }

.Menu{
  display: flex;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: aqua;
}
.buttonProfileMenu{
  padding-top: 100px;
  width: 300px;
  padding: 0px;
  background-color: #ffffff;
}
.tw-followCard-perfil{
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}
.botonParati{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #ffffff;
  width: 250px
}
.botonSiguiendo{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #ffffff;
  opacity: .6;
  width: 310px
}
.botonPosts{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #ffffff;
  color: rgb(0, 85, 242);
  border-color: lightgray;
  opacity: .6;
  width: 635px;
}

.botonGear{
  background-color: #ffffff;
  margin-right: 15px;
}
.botonPerfilMuro{
  background-color: #ffffff;
}
.vertical{
  box-shadow: 0px 5px 10px rgb(226, 226, 226);
  background-color: rgb(247, 248, 248);
  margin-bottom: 150px;
}
.caja1{
  border: 1px solid rgb(232, 226, 226);
}
.caja2{
  border: 1px solid rgb(232, 226, 226);
  opacity: .8;
}
.searchInput{
  width: 10px;
}
.form-control{
  border: 0px;
}
.form-control-search{
  opacity: .6;
  border-color: #ffffff;
  background-color: rgb(241, 245, 249);
}
.tw-followCard-Posts
{
  border-radius: 1000px;
}
.Box3Posts{
  border: 1px solid rgb(232, 226, 226);
  padding-left: 20px;
}
.buttonShowMore{
  margin-left: 0;
  opacity: .6;
  color: rgb(0, 85, 242);
  width: 280px
}
.botonPerfilPosts{
background-color: rgb(255, 255, 255);
opacity: .6;
border: none;
}
.cajita-suscribete{
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 5px 10px rgb(207, 205, 205);
  background-color: rgb(241, 245, 249);
}

.tw-followCard-infoUserName {
  opacity: .6;
}
.tw-followCard-avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}
.tw-followCard-button {
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px
}
.boxFollow{
  font-weight: 100;
  padding-left: 20px;
  box-shadow: 00px 5px 10px rgb(207, 205, 205);
  background-color: rgb(241, 245, 249);
}
.tendencias{
  padding-left: 20px;
  box-shadow: 0px 5px 10px rgb(207, 205, 205);
  background-color: rgb(241, 245, 249); 
}
.ulTrending{
  list-style-type: none;
  padding: 0;
 
}
.text-sm-start-li{
  opacity: .6;
  margin: 0;
  padding: 0;
}
.text-sm-start-li-strong{
  margin: 0;
  padding: 0;
}
.container-fluid{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.Menu:hover{
  color: gray;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
